<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{user}}'s testlist</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" type="text/css">

</head>
<body style="background-color:#FFCC99">
<h2>
    <img alt="Avatar" class="avatar" src="{{url_for('static',filename='images/imag-2.gif')}}" >
    {{user}}'s testlist

</h2>

<ul class="file-list">
    <p>{{files|length}} Titles</p>
<url>
    {% for file in files %}
    <li>{{file.title}} -- {{file.year}}</li>
    {% endfor %}

</url>

</ul>

<footer>
    <small>2019 <a herf="http://helloflask.com/tutorial">Helloaxw</a></small>
</footer>

<p3>
    index
</p3>
</body>
</html>
